@model SiteVM

@{
    ViewData["Title"] = "Site Edit";
}
<div class="container">
    <form asp-action="SiteEdit" enctype="multipart/form-data">
       
        <div class="row">
            <div class="col-lg-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h4>Site Info</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="@Model.SiteInfo.Name" class="control-label"></label>
                    <input asp-for="@Model.SiteInfo.Name" class="form-control" />
                    <span asp-validation-for="@Model.SiteInfo.Name" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <label asp-for="@Model.SiteInfo.Activity" class="control-label"></label>
                    <input asp-for="@Model.SiteInfo.Activity" class="form-control" />
                    <span asp-validation-for="@Model.SiteInfo.Activity" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <label asp-for="@Model.SiteInfo.About" class="control-label"></label>
                    <textarea asp-for="@Model.SiteInfo.About" class="form-control" rows="3" ></textarea>
                    <span asp-validation-for="@Model.SiteInfo.About" class="text-danger"></span>
                </div>
                <!-------------------------------------LogoFile&Image------------------------------------------>
                <div class="form-group">
                    <label asp-for="@Model.SiteInfo.LogoUrl" class="control-label"></label>
                    <input id="input1" type="file" asp-for="@Model.SiteInfo.Logo" onchange="UploadImageFile(this,'img1','isImg1');" class="form-control custom-file-input" />
                    <input type="hidden" name="isImg1" id="isImg1" value="..." />
                </div>
               @*-------------------زايدة------------------*@
                <input type="button" class="btn btn-info" value="Upload Image" onclick="return clickFile('input1');" />
               @*-----------------------------------------*@
                <div class="form-group">
                    @if (Model.SiteInfo != null)
                    {
                        <button type="button" class="btn-close" aria-label="Close" onclick="return clearFile('input1','img1','isImg1');"></button>
                        @if (Model.SiteInfo.LogoUrl != null)
                        {
                            <img id="img1" src="~/pictures/@Model.SiteInfo.LogoUrl" onclick="return clickFile('input1');" style="width:100%;height:300px;cursor:pointer" class="img-thumbnail" />
                            <input type="hidden" asp-for="@Model.SiteInfo.LogoUrl" />
                        }
                        else
                        {
                            <img id="img1" src="~/img/logo.png" onclick="return clickFile('input1');" style="width:100%;height:300px;cursor:pointer" class="img-thumbnail" />
                            <P id="defaultText1">the default Picture</P>
                        }
                    }
                </div>

                <!-------------------------------------CoverFile&Image------------------------------------------>
                <div class="form-group">
                    <label asp-for="@Model.SiteInfo.CoverImage" class="control-label">Cover Image</label> <!-- You may want to add a label text -->

                    <input id="input2"
                           type="file"
                           asp-for="@Model.SiteInfo.CoverImage"
                           onchange="UploadImageFile(this, 'img2', 'isImg2', 'defaultText2')"
                           class="form-control custom-file-input" />

                    <input type="hidden" name="isImg2" id="isImg2" value="no" /> <!-- Default value indicating no image -->

                    <img id="img2" src="" alt="Preview" style="max-width: 100px; max-height: 100px;" />
                    <p id="defaultText2">No image selected</p> <!-- Default message to show if no image is uploaded -->
                </div>


                <div class="form-group">
                    @if (Model.SiteInfo != null)
                    {
                        <button type="button" class="btn-close" aria-label="Close" onclick="return clearFile('input2','img2','isImg2');"></button>
                        @if (Model.SiteInfo.CoverImageUrl != null)
                        {
                            <img id="img2" src="~/Pictures/@Model.SiteInfo.CoverImageUrl" style="width:100%;height:300px;cursor:pointer" onclick="return clickFile('inpu1t2');" class="img-thumbnail" />
                            <input type="hidden" asp-for="@Model.SiteInfo.CoverImageUrl" />
                        }
                        else
                        {
                            <img id="img2" src="~/img/bg-masthead.jpg" style="width:100%;height:300px;cursor:pointer" onclick="return clickFile('input2');" class="img-thumbnail" />
                            <P id="defaultText2">the default Picture</P>
                        }
                    }
                </div>
                <!----------------------------------------------------------------------------------------------->
                <hr />
                <div class="alert alert-info" role="alert" style="width:max-content;">
                    <p>
                        <b>@Html.DisplayNameFor(model => model.SiteInfo.Created):</b>
                        @Html.DisplayFor(model => model.SiteInfo.Created)
                        @Html.HiddenFor(model => model.SiteInfo.Created)
                    </p>
                    <p>
                        <b>@Html.DisplayNameFor(model => model.SiteInfo.Modified):</b>
                        @Html.DisplayFor(model => model.SiteInfo.Modified)
                    </p>
                </div>
            </div>
            <div class="col-lg-1">
            </div>
            <div class="col-lg-5">
                <h4>Contact</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="@Model.Contact.Email" class="control-label"></label>
                    <input asp-for="@Model.Contact.Email" class="form-control" />
                    <span asp-validation-for="@Model.Contact.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Contact.Phone" class="control-label"></label>
                    <input asp-for="@Model.Contact.Phone" class="form-control" />
                    <span asp-validation-for="@Model.Contact.Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Contact.Facebook" class="control-label"></label>
                    <input asp-for="@Model.Contact.Facebook" class="form-control" />
                    <span asp-validation-for="@Model.Contact.Facebook" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Contact.Twitter" class="control-label"></label>
                    <input asp-for="@Model.Contact.Twitter" class="form-control" />
                    <span asp-validation-for="@Model.Contact.Twitter" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Contact.Instagram" class="control-label"></label>
                    <input asp-for="@Model.Contact.Instagram" class="form-control" />
                    <span asp-validation-for="@Model.Contact.Instagram" class="text-danger"></span>
                </div>
            </div>
        </div>

        @Html.HiddenFor(model => model.Contact.Created)
        @*-------------AutoMapper زائد نحتاجه فقط في---------------------*@
        @Html.HiddenFor(model => model.Contact.Id)
        @Html.HiddenFor(model => model.SiteInfo.Id)
        @*---------------------------------------------------------------*@
        <div class="form-group " style="text-align:center">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="SiteDetails" asp-controller="Admin" class="btn btn-outline-primary">Back to Details</a>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/inputfileimage.js"></script>
}


