@model SiteState

@{
    ViewData["Title"] = "Site State";
}

<h4>Site State</h4>
<hr />
<div class="container" style="min-height:67vh;">

    <div class="row">
        <div class="col-md-6">
            @if (@Model.State == true)
            {
                <div class="alert alert-success" style="text-align:center">
                    <p>The site is active now</p>
                </div>
            }
            else
            {
                <div class="alert alert-danger" style="text-align:center">
                    <p>The site is closed</p>
                </div>
            }
            <form asp-action="SiteState">
            @* <form method="post"> *@

                <div class="form-group mt-3">
                    <input type="submit" name="Save" value="Activating Site" class="btn btn-success" />
                    <input type="submit" name="Save" value="Deactivate Site" class="btn btn-danger" />
                </div>
                <div class="form-group mt-5">
                    <label asp-for="ClosingMessage" class="control-label"></label>
                    <textarea type="text" asp-for="ClosingMessage" rows="4" class="form-control"></textarea>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" name="Save" value="Update colsing message" class="btn btn-primary" />
                </div>

                @* <input type="submit" name="Save" asp-action="SiteState" value="Update colsing message" class="btn btn-primary" /> *@

                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-success" style="text-align:center">
                        <p>@ViewBag.Message</p>
                    </div>
                }

                <div class="alert alert-info mt-3" role="alert" style="width:max-content;">
                    <p>
                        <b>@Html.DisplayNameFor(model => model.Created):</b>
                        @Html.DisplayFor(model => model.Created)
                        @Html.HiddenFor(model => model.Created)
                    </p>
                    <p>
                        <b>@Html.DisplayNameFor(model => model.Modified):</b>
                        @Html.DisplayFor(model => model.Modified)
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

