<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="copyright" content="pavilan" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Title -->
    <title>@ViewData["Title"] - Mediplus</title> <!-- <<<< MODIFIED -->
    <!-- Favicon -->
    <link rel="icon" href="~/img/favicon.png" /> <!-- <<<< MODIFIED -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
          rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" /> <!-- <<<< MODIFIED -->
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/css/nice-select.css" /> <!-- <<<< MODIFIED -->
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css" /> <!-- <<<< MODIFIED -->
    <!-- icofont CSS -->
    <link rel="stylesheet" href="~/css/icofont.css" /> <!-- <<<< MODIFIED -->
    <!-- Slicknav -->
    <link rel="stylesheet" href="~/css/slicknav.min.css" /> <!-- <<<< MODIFIED -->
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/css/owl-carousel.css" /> <!-- <<<< MODIFIED -->
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="~/css/datepicker.css" /> <!-- <<<< MODIFIED -->
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/css/animate.min.css" /> <!-- <<<< MODIFIED -->
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css" /> <!-- <<<< MODIFIED -->
    <!-- Mediplus CSS -->
    <link rel="stylesheet" href="~/css/normalize.css" /> <!-- <<<< MODIFIED -->
    <link rel="stylesheet" href="~/style.css" /> <!-- <<<< MODIFIED (Assuming style.css is in wwwroot/ or wwwroot/css/) -->
    <!-- If style.css is in wwwroot/css/ then href="~/css/style.css" -->
    <link rel="stylesheet" href="~/css/responsive.css" /> <!-- <<<< MODIFIED -->
    <!-- Color CSS -->
    <link rel="stylesheet" href="~/css/color/color1.css" /> <!-- <<<< MODIFIED -->

    <link rel="stylesheet" id="colors" /> <!-- This will be handled by js/colors.js -->
    @RenderSection("Styles", required: false)

</head>
<body class="rtl">
    <!-- You can make "rtl" dynamic if needed -->
    <!-- Preloader -->
    <div class="preloader">
        <!-- ... (preloader content, no path changes needed here unless JS dynamically loads images) -->
    </div>
    <!-- End Preloader -->
    <!-- Mediplus Color Plate -->
    <!-- ... (color plate, no path changes needed here unless JS dynamically loads images) -->
    <!-- /End Color Plate -->
    <!-- Header Area -->
    <header class="header">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-12">
                        <!-- Contact -->
                        <ul class="top-link">
                            <li><a href="about.html">About</a></li> 
                            <li><a href="doctors.html">Doctors</a></li> 
                            <li><a href="contact.html">Contact</a></li> 
                            <li><a href="faq.html">FAQ</a></li> 
                        </ul>
                        <!-- End Contact -->
                    </div>
                    <div class="col-lg-6 col-md-7 col-12">
                        <!-- Top Contact -->
                        <ul class="top-contact">
                            <li><i class="fa fa-phone"></i>+880 1234 56789</li>
                            <li>
                                <i class="fa fa-envelope"></i><a href="mailto:support@yourmail.com">support@yourmail.com</a>
                            </li>
                        </ul>
                        <!-- End Top Contact -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar -->
        <!-- Header Inner -->
        <div class="header-inner">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-12">
                            <!-- Start Logo -->
                            <div class="logo">
                                <a href="index.html"><img src="~/img/logo.png" alt="#" /></a> <!-- <<<< MODIFIED (href to asp-action if needed) -->
                            </div>
                            <!-- End Logo -->
                            <!-- Mobile Nav -->
                            <div class="mobile-nav"></div>
                            <!-- End Mobile Nav -->
                        </div>
                        @{
                            var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
                            var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
                        }

                        <div class="col-lg-7 col-md-9 col-12">
                            <!-- Main Menu -->
                            <div class="main-menu">
                                <nav class="navigation">
                                    <ul class="nav menu">
                                        <li class="@(currentController == "Home" && currentAction == "Index" ? "active" : "")">
                                            <a asp-controller="Home" asp-action="Index">Home</a>
                                        </li>
                                        <li class="@(currentController == "Doctors" ? "active" : "")">
                                            <a href="#">
                                                <!-- يمكنك تحويل هذا لـ asp-controller إذا كان لديك DoctorsController -->
                                                Doctors <i class="icofont-rounded-down"></i>
                                            </a>
                                            <ul class="dropdown">
                                                <li><a asp-controller="Doctors" asp-action="Index">Doctor</a></li>
                                                <li>
                                                    <!-- افترض أن DoctorDetails لها action خاص بها أو يتم تمرير ID -->
                                                    <a asp-controller="Doctors" asp-action="Details">Doctor Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="@(currentController == "Services" ? "active" : "")">
                                            <a href="#">
                                                <!-- يمكنك تحويل هذا لـ asp-controller إذا كان لديك ServicesController -->
                                                Services <i class="icofont-rounded-down"></i>
                                            </a>
                                            <ul class="dropdown">
                                                <li><a asp-controller="Services" asp-action="Index">Service</a></li>
                                                <li>
                                                    <a asp-controller="Services" asp-action="Details">Service Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="@(currentController == "Account" && currentAction == "Login" ? "active" : "")">
                                            <a asp-controller="Account" asp-action="Login">Login</a>
                                        </li>
                                        <li class="@(currentController == "Account" && currentAction == "Register" ? "active" : "")">
                                            <a asp-controller="Account" asp-action="Register">Sign Up</a>
                                        </li>
                                        <li class="@(currentController == "Blogs" ? "active" : "")">
                                            <a href="#">
                                                <!-- يمكنك تحويل هذا لـ asp-controller إذا كان لديك BlogsController -->
                                                Blogs <i class="icofont-rounded-down"></i>
                                            </a>
                                            <ul class="dropdown">
                                                <li><a asp-controller="Blogs" asp-action="Grid">Blog Grid</a></li>
                                                <li><a asp-controller="Blogs" asp-action="Single">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="@(currentController == "Home" && currentAction == "Contact" ? "active" : "")">
                                            <a asp-controller="Home" asp-action="Contact">Contact Us</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!--/ End Main Menu -->
                        </div>
                        <div class="col-lg-2 col-12">
                            <div class="get-quote">
                                <a href="appointment.html" class="btn"> Appointment</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Header Inner -->
    </header>
    <!-- End Header Area -->

    <main role="main" class="pb-3">
        <!-- Optional: wrap RenderBody in main -->
        @RenderBody() <!-- <<<< ADDED -->
    </main>

    <!-- Footer Area -->
    <footer id="footer" class="footer">
        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer">
                            <h2>About Us</h2>
                            <p>
                                Lorem ipsum dolor sit am consectetur adipisicing elit do
                                eiusmod tempor incididunt ut labore dolore magna.
                            </p>
                            <!-- Social -->
                            <ul class="social">
                                <li>
                                    <a href="#"><i class="icofont-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icofont-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icofont-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icofont-vimeo"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icofont-pinterest"></i></a>
                                </li>
                            </ul>
                            <!-- End Social -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer f-link">
                            <h2>Quick Links</h2>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <ul>
                                        <li>
                                            <a href="#" 
                          ><i class="fa fa-caret-right" aria-hidden="true"></i
                          >Home</a
                        >
                                        </li>
                                        <!-- ... other links, convert if necessary -->
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <ul>
                                        <!-- ... other links, convert if necessary -->
                                        <li>
                                            <a href="#" 
                          ><i class="fa fa-caret-right" aria-hidden="true"></i
                          >Contact Us</a
                        >
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer">
                            <h2>Open Hours</h2>
                            <p>
                                Lorem ipsum dolor sit ame consectetur adipisicing elit do
                                eiusmod tempor incididunt.
                            </p>
                            <ul class="time-sidual">
                                <li class="day">Monday - Fridayp <span>8.00-20.00</span></li>
                                <li class="day">Saturday <span>9.00-18.30</span></li>
                                <li class="day">Monday - Thusday <span>9.00-15.00</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer">
                            <h2>Newsletter</h2>
                            <p>
                                subscribe to our newsletter to get allour news in your inbox..
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            </p>
                            <!-- Make sure mail/mail.php is handled by a controller action if this form is used -->
                            <form action="mail/mail.php"
                                  method="get"
                                  class="newsletter-inner">
                                <input name="email"
                                       placeholder="Email Address"
                                       class="common-input"
                                       onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'Your email address'"
                                       required=""
                                       type="email" />
                                <button class="button">
                                    <i class="icofont icofont-paper-plane"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Top -->
        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="copyright-content">
                            <p>
                                © Copyright @DateTime.Now.Year | All Rights Reserved by <!-- <<<< MODIFIED YEAR -->
                                <a href="#">Mediplus</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Copyright -->
    </footer>
    <!--/ End Footer Area -->
    <!-- jquery Min JS -->
    <script src="~/js/jquery.min.js"></script> <!-- <<<< MODIFIED -->
    <!-- jquery Migrate JS -->
    <script src="~/js/jquery-migrate.js"></script> <!-- <<<< MODIFIED -->
    <!-- Easing JS -->
    <script src="~/js/easing.js"></script> <!-- <<<< MODIFIED -->
    <!-- Color JS -->
    <script src="~/js/colors.js"></script> <!-- <<<< MODIFIED -->
    <!-- Popper JS -->
    <script src="~/js/popper.min.js"></script> <!-- <<<< MODIFIED -->
    <!-- Bootstrap JS -->
    <script src="~/js/bootstrap.min.js"></script> <!-- <<<< MODIFIED -->
    <!-- Bootstrap Datepicker JS -->
    <script src="~/js/bootstrap-datepicker.js"></script> <!-- <<<< MODIFIED -->
    <!-- Jquery Nav JS -->
    <script src="~/js/jquery.nav.js"></script> <!-- <<<< MODIFIED -->
    <!-- Slicknav JS -->
    <script src="~/js/slicknav.min.js"></script> <!-- <<<< MODIFIED -->
    <!-- ScrollUp JS -->
    <script src="~/js/jquery.scrollUp.min.js"></script> <!-- <<<< MODIFIED -->
    <!-- Niceselect JS -->
    <script src="~/js/niceselect.js"></script> <!-- <<<< MODIFIED -->
    <!-- Tilt Jquery JS -->
    <script src="~/js/tilt.jquery.min.js"></script> <!-- <<<< MODIFIED -->
    <!-- Owl Carousel JS -->
    <script src="~/js/owl-carousel.js"></script> <!-- <<<< MODIFIED -->
    <!-- counterup JS -->
    <script src="~/js/jquery.counterup.min.js"></script> <!-- <<<< MODIFIED -->
    <script src="~/js/waypoints.min.js"></script> <!-- <<<< MODIFIED -->
    <!-- Steller JS -->
    <script src="~/js/steller.js"></script> <!-- <<<< MODIFIED -->
    <!-- Wow JS -->
    <script src="~/js/wow.min.js"></script> <!-- <<<< MODIFIED -->
    <!-- Magnific Popup JS -->
    <script src="~/js/jquery.magnific-popup.min.js"></script> <!-- <<<< MODIFIED -->
    <!-- Main JS -->
    <script src="~/js/main.js"></script> <!-- <<<< MODIFIED -->
    @await RenderSectionAsync("Scripts", required: false) <!-- <<<< ADDED -->
</body>
</html>